<%= form_for @group do |f| %>
  <!-- <fieldset> -->
    <%= f.label :name %>
    <%= f.text_field :name %>
  <!-- </fieldset>

  <fieldset> -->
    <%= f.label :image %>
    <%= f.url_field :image %>
  <!-- </fieldset> -->
  <p>

  <label></label>  <span class="ruby_button"><%= f.submit %></span>
  </p>
<% end %>
