<h1><%= @user.name_first %> <%= @user.name_last %></h1>
<p>Member of: <%= @user.group.name %></p>
<img class="profile_img" src="<%= @user.image %>" alt="<%= @user.name_first %> photo goes here">
<h3>Events Attended</h3>
<% @user.events.each do |event| %>
<ul>
  <li><%= event.location %> - <%= event.date.strftime '%A %e %B, %Y' %></li>
</ul>
<% end %>
<p><%= link_to("Edit Profile", users_edit_path) %></p>
