<h1><%= @user.name_first %> <%= @user.name_last %></h1>


<div class="flex_container">

<div class="flex_left">

<% if @current_user.group_member == true %>
<p>Member of: <%= link_to(@user.group.name, group_path(@user.group)) %></p>
<% end %>
<img class="profile_img" src="<%= @user.image %>" alt="<%= @user.name_first %> photo goes here">
</div>
<div class="flex_center">


<h3>Events Attended</h3>
<% @user.events.each do |event| %>
<ul>
  <li><%= link_to event.location, event %> - <%= event.date.strftime '%A %e %B, %Y' %></li>
</ul>
<% end %>
</div>

</div>
<hr>
<div class="bottom_links">
<p><%= link_to "Edit Profile", users_edit_path, :class => "button" %></p>
</div>
