<h1>Movie Night Event Details</h1>
<h2><%= @event.location %> on <%= @event.date.strftime '%A %e %B, %Y' %></h2>

<% if @event.imdb_id %>
<p><%= @movie["Title"] %></p>
<p><%= image_tag @movie["Poster"] %></p>

<h3>Ratings</h3>
<ul>
<li><%= link_to image_tag(("/assets/emoji/heart.png"), :class => 'emoji'), "/events/#{@event.id}/awesome" %></li>
<li><%= link_to image_tag(("/assets/emoji/smirk.png"), :class => 'emoji'), "/events/#{@event.id}/good" %></li>
<li><%= link_to image_tag(("/assets/emoji/expressionless.png"), :class => 'emoji'), "/events/#{@event.id}/meh" %></li>
<li><%= link_to image_tag(("/assets/emoji/unamused.png"), :class => 'emoji'), "/events/#{@event.id}/bad" %></li>
<li><%= link_to image_tag(("/assets/emoji/shit.png"), :class => 'emoji'), "/events/#{@event.id}/poo" %></li>
</ul>
<% if flash[:alert] %>
  <p style="color: green;"><%= flash[:alert] %></p>
<% end %>
<% @ratings.each do |rating| %>
<ul>
  <li>"<%= rating.rating_score %>" - <%= rating.user.name_first %> <%= rating.user.name_last %></li>
</ul>
<% end %>

<% end %>

<p>Add or update film</p>
<form action="/events/<%= @event.id %>/search">
  <input type="text" name="title">
  <input type="submit">
</form>

<h3>Attendees</h3>

<ul>
  <% @event.users.each do |user| %>
  <li><%= user.name_first %> </li>
  <% end %>
</ul>

<% if @event.users.where(:id => @current_user.id).any? %>
<p>You are attending.</p>
<p><%= button_to 'Not Attending', event_not_attending_path %></p>
<% else %>
<p><%= button_to 'Attending', event_attending_path %></p>
<% end %>
<p><%= link_to 'Edit Event', edit_event_path(@event) %></p>
<p><%= link_to 'Delete Event', @event, :method => :delete %></p>
