<h1>Movie Night Event Details</h1>
<h2><%= @event.location %> on <%= @event.date.strftime '%A %e %B, %Y' %></h2>


<% if @event.imdb_id %>
  <h3><%= @movie["Title"] %> (<%= @movie["Year"] %>)</h3>
<div class="flex_container">

<div class="flex_left">
<p><%= image_tag @movie["Poster"] %></p>
</div>

<div class="flex_right">
  <p><b>Director:</b> <%= @movie["Director"] %></p>
  <p><b>Starring:</b> <%= @movie["Actors"] %></p>
  <p><b>Runtime:</b> <%= @movie["Runtime"] %></p>
  <p><b>Genre:</b> <%= @movie["Genre"] %></p>
  <p><b>IMDB Rating:</b> <%= @movie["imdbRating"] %></p>
  <p><b>Plot:</b> <%= @movie["Plot"] %></p>

  <form class="event_film action="/events/<%= @event.id %>/search">
    <label>Add or change film: </label>
    <input type="text" name="title">
    <input type="submit" value="Search" class="button_small">
  </form>
  <hr>
  <p>Rate the choice of film:
    <%= link_to image_tag(("/assets/heart.png"), :class => 'emoji'), "/events/#{@event.id}/heart" %>
    <%= link_to image_tag(("/assets/smiley.png"), :class => 'emoji'), "/events/#{@event.id}/simley" %>
    <%= link_to image_tag(("/assets/neutral.png"), :class => 'emoji'), "/events/#{@event.id}/neutral" %>
    <%= link_to image_tag(("/assets/unamused.png"), :class => 'emoji'), "/events/#{@event.id}/unamused" %>
    <%= link_to image_tag(("/assets/poo.png"), :class => 'emoji'), "/events/#{@event.id}/poo" %>
  </p>

</div>

</div>
<% end %>



<div class="attendees">
  <h3>Attendees</h3>
  <% @event.users.each do |user| %>
  <% rating = Rating.find_by({ event_id: @event.id, user_id: user.id }) %>

    <div class="attendee"><%= user.name_first %>
    <% if rating %></div>
    <div class="emoji_div"><%= image_tag "#{rating.rating_score }.png", :class => "emoji" %>
    <% end %></div></p>
<br>
  <% end %>
</div>

<% if @event.users.where(:id => @current_user.id).any? %>
<p>You are attending.</p>
<p><%= button_to 'Not Attending', event_not_attending_path, :class=> "button" %></p>
<% else %>
<p><%= button_to 'Attending', event_attending_path %></p>
<% end %>
<p><%= link_to 'Edit Event', edit_event_path(@event) %></p>
<p><%= link_to 'Delete Event', @event, :method => :delete %></p>
