<!DOCTYPE html>
<html>
  <head>
    <title>Movienight</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= cloudinary_js_config %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="top_nav">
      <div class="title">
        <a href="/">
          <h4>Movie</h4>
          <h5>night</h5>
        </a>
      </div>
      <div class="user_buttons">
        <% if @current_user.present? %>
        <%= link_to @current_user.name_first, user_path(@current_user) %>
        <%= link_to "Logout", login_path, :method => :delete %>
        <%= link_to (cl_image_tag @current_user.image, :class => "thumb person_thumb hvr-bob"), user_path(@current_user) %>
      <% else %>
        <%= link_to 'Sign up', signup_path %>
        <%= link_to 'Login', login_path %>
        <% end %>
      </div>
    </div>

    <div class="container">
<% if @current_user.present? %>
      <nav>
        <% if @current_user.present? %>
        <% if @current_user.admin? %>
        <%= link_to "All Users", users_path %>
        <%= link_to "All Groups", groups_path %>
        <%= link_to 'All Events', events_path %>
        <% end %>
        <% if @current_user.group_id == nil%>
        <%= link_to "Create Group", new_group_path %>
        <%= link_to "Join Group", '/groups/search_index' %>
      <% else %>
        <h3><%= link_to @current_user.group.name, group_path(@current_user.group_id) %></h3>
        <% end %>
        <% end %>
      </nav>
<% end %>
      <div class="yield_container">
        <%= yield %>
      </div>
    </div>
    <footer>
      Copyright 2016 | Ian Lenehan | <%= link_to "Read Me", readme_path %>
    </footer>
  </body>
</html>
